.weather-box {
    text-align: center;
}

.weather-box img {
    width: 60%;
    margin-top: 30px;
}

.weather-box .temperature {
    position: relative;
    color: #06283D;
    font-size: 4rem;
    font-weight: 800;
    margin-top: 30px;
    margin-left: -16px;
}

.weather-box .temperature span {
    position: absolute;
    margin-left: 4px;
    font-size: 1.5rem;
}

.weather-box .description {
    color: #06283D;
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}

.weather-datails {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.weather-datails .humidity,
.weather-datails .wind {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100px;
}
.weather-details .wind {
    padding-right: 20px;
    justify-content: flex-end;
}
.weather-datails icon {
    font-size: 26px;
    margin-right: 10px;
    margin-top: 10px;
}
.weather-datails p {
    font-size: 14px;
    font-weight: 500;
}
